
.siteWrapper{
	background-color: #BDBDBD;

}

.siteContent{
	margin-top : 5%;
	background-color: #BDBDBD;
}

.siteContent .listings{
    width : 80%;
    margin-left: 10%;
    line-height: 2.0em;
    font-family: serif;
}

.siteContent .listings button{
	width : 10px;
	height : 10px;
	border: 2px;
    border-radius: 50px;
	margin-left: 15%;
}

.siteContent .listings td{
    height:25px;
}

.pageWrapper{

	height:auto;
	width:70%;
	margin-left: 15%;
	margin-right: 15%;
	background-color: white;
	display: bloack;
}

.pageHeader{
	position: fixed;
	width: 100%;
	background-color: black;
	height:80px;
	margin-left: -0.4%;
	margin-top: -0.4%;
	opacity: 0.5;
}

.pageHeader:hover{
	opacity: 1;
}

.navList{
	margin-top: -2%;
	margin-left: 20%;
	position:fixed;
	width:30%;
}
.navList li{
	margin-left: 2%;
	display: inline;
}

.navList a{
	text-decoration: none;
	color: white;
	font-family:  sans-serif;
}

.socialList{
	width: 30%;
	margin-left: 60%;
}

.socialList li{
	margin-left: 2%;
	display: inline;
}

.socialListNav{
	margin-top: -2%;
	margin-left: 70%;
	position:fixed;
	background-color: white;
	width: 8%;
	padding-left: 0px;
	padding-right: 0px;
	 border-radius: 5px;
}

.socialListNav li{
	margin-left: 2%;
	display: inline;
	background-color: white;
}

.simpleLogo{
	width:25px;
	height:25px;
}

.siteFooter{
	float: left;
	margin-top: 2%;
	height: 5%;
	width:100%;
}

.log{
	width:100px;
	height:25px;
}

.dummyHeader{

	width: 100%;
	padding-top: 3.5%;
	height: 70px;
	display: block;
}

.contentHeader{
	width:100%;
	height: auto;
	padding-top: 1%;
	padding-right: 1%;
	padding-left: 1%;
	padding-bottom: 1%;
}

.contentHeaderImage{
	width: 98%;
}