.loginForm{
	width : 25%;
	height: 350px;
	background-color: white;
	margin-left: 34%;
}

.loginInput{
	width : 60%;
	margin-top: 20px;
        margin-bottom: 20px;
	margin-left: 20%;
}

.loginButton{
	width : 40%;
	margin-top: 10%;
	margin-left: 33%;
	border: 2px;
	border-radius: 10px;
	color: black;
}

.contentWrapper{
	background-color: #BDBDBD;
}

.loginLabel{
    width : 60%;
    padding-top: 25px;
    margin-left: 20%;
}