<!DOCTYPE html>
<html>
  <head>
      <title>Cemetery Listings</title>
    <link rel="stylesheet" type="text/css" href="/CemeteryListingsWebApp/resources/css/listing-pages.css">
    <link rel="stylesheet" type="text/css" href="/CemeteryListingsWebApp/resources/css/login.css">
    <script type="text/javascript" src="/CemeteryListingsWebApp/resources/js/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="/CemeteryListingsWebApp/resources/js/scripts/script.js"></script>
     <script type="text/javascript" src="/CemeteryListingsWebApp/resources/js/plugins/cookies-plugin/jquery.cookie.js"></script>
     <link rel="icon" 
      type="image/png" 
      href="resources/images/favicon.ico">
</head>

<body class="siteWrapper">
    <div class="pageHeader">
        <a href="/CemeteryListingsWebApp/" class="logo"><img src="/CemeteryListingsWebApp/resources/images/logo3.jpg"></a>
                <ul class="navList" style="width : 100%">
                    <li><a href="/CemeteryListingsWebApp/">Home</a></li>
                    <li><a href="/CemeteryListingsWebApp/api/cemetery/cemeterylistings">Cemetery Listings</a></li>
                    <li><a href="/CemeteryListingsWebApp/api/DeceasedListing/publishedlistings">Deceased Listings</a></li>
                    <li><a href="/CemeteryListingsWebApp/api/search/contactus">Contact Us</a></li>
                </ul>   
            </div>
            <div class="dummyHeader"></div>
    <div class="pageWrapper">
        
        <div class="contentWrapper">
               <div class="loginForm" style="margin-top: 10%">
               		<form id="loginForm">
                            <br>
                            <label class="loginLabel" id="adminID">Admin ID (required)</label>
                            <input type="text" id="userID" class="loginInput" name="cusername">
                            <label class="loginLabel" id="userLabel">Username (required)</label>
                            <input type="text" id="username" class="loginInput" name="cusername">
                            <label class="loginLabel" id="pwordLabel">Password (required)</label>
                            <input type="password" id="password" class="loginInput" name="cpassword">
                            <input type="button" id="sign-in" class="loginButton" value="Login">
               		</form>
                   
               </div>
        </div>
    </div>
    <div class="siteFooter"> 
    </div>

     <!--<script type="text/javascript" src="/CemeteryListingsWebApp/resources/js/jquery-1.11.1.min.js"></script> -->
        
        <script type="text/javascript">
        	console.log('hi');
                 $('#logout').click(function(){
                    localStorage.username = "";
                });
                var login = localStorage.username;

                if($('.user') != null){
                    if(login == ""){
                        $('.user').text("Login");
                    }else{

                        $('.user').text(login);
                    }
                }
        	$('.loginButton').click(function() {
        		console.log('i have been clicked');

                var id = $('#userID').val();
        	var username = $('#username').val();
        	var password = $('#password').val();
                var checkID = null;
                    
        
                if(id == ""){
                     $('#adminID').text("Please enter admin id");
                } 
                if(username == ""){
                     $('#userLabel').text("Please enter a username");
                } 
                if(password == ""){
                    $('#pwordLabel').text("Please enter a password");
                }else{

                        console.log(username);
                        console.log(password);
                        console.log(id);
                        
                         $.ajax({
                                type: "GET", 
                                url: "/CemeteryListingsWebApp/api/Subscriber/id/"+id+"",
                                //data: {"user": username ,"pword": password},
                                success: function (data, status, jqXHR) {
                                    //alert("success");// write success in " "
                                    console.log(data);
                                    console.log(jqXHR);
                                    
                                    if((data.username == username ) && (data.pwd == password) && (data.userRoleID.level == 1)){
                                        alert('logged in');
                                            localStorage.adminID = username;
                                            window.location.href = "/CemeteryListingsWebApp/api/auth/loggedIn";
                                    }else if(data == ""){
                                            alert('user does not exists');
                                        }
                                    
                                },

                                error: function (data,jqXHR, status) {
                                    // error handler
                                    console.log('fail');
                                    console.log(jqXHR);
                                    console.log('fail ' + status.code);
                                }
                             });

                                    $('#username').val("");
                                    $('#password').val("");
                                    $('#userID').val("");

                    }
                });

        </script>

</body>
</html>