<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/CemeteryListingsWebApp/resources/css/listing-pages.css">
    <script type="text/javascript" src="/CemeteryListingsWebApp/resources/js/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="/CemeteryListingsWebApp/resources/js/scripts/script.js"></script>
     <script type="text/javascript" src="/CemeteryListingsWebApp/resources/js/plugins/cookies-plugin/jquery.cookie.js"></script>
</head>

<body class="siteWrapper">
    <div class="pageHeader">
        <a href="#" class="logo"><img src="/CemeteryListingsWebApp/resources/images/logo2.jpg"></a>
                <ul class="navList" style="width : 100%">
                   <li><a href="/CemeteryListingsWebApp/api/auth/loggedIn">Admin</a></li>
                </ul>   
            </div>
            <div class="dummyHeader"></div>
    <div class="pageWrapper">
        
        <div class="siteContent">
             <table class="listings"></table>
        </div>
    </div>
    <div class="siteFooter"> 
    </div>

     <!--<script type="text/javascript" src="/CemeteryListingsWebApp/resources/js/jquery-1.11.1.min.js"></script> -->
        
        <script type="text/javascript">
        	$.ajax({
                                type: "GET", 
                                url: "/CemeteryListingsWebApp/api/unpublishedListings/show",
                                //data: {"name": nameSearch},
                                success: function (data, status, jqXHR) {
                                  console.log(data);
                                  
                                  countData = data.length;
                                        for(var i = 0; i < data.length; i++) {
                                            var obj = data[i];
                                                console.log(obj.requiresApprovalDeceasedListingID);
                                                console.log(obj.firstName);
                                                console.log(obj.surname);
                                                console.log(obj.maidenName);
                                                console.log(obj.dateOfDeath);
                                                console.log(obj.graveNumber);
                                                console.log(obj.imageOfBurialSite);
                // building html objects here
                                $(".listings").append(' <tr>'+' <td><a href='+'"/CemeteryListingsWebApp/api/cemetery/id/'+obj.requiresApprovalDeceasedListingID+'">' + '</a></td>' + '<td> Name : ' + obj.firstName + '</td>' + ' <td> Last Name : ' + obj.surname + 
                                    '</td>' + '</a></td>' + '<td>Mainden Name : ' + obj.maidenName + '</td>' +
                                    '</td>' + '</a></td>' + '<td>Grave Number: ' + obj.graveNumber + '</td>' +
                                    '</td>' + '</a></td>' + '<td>Date Of Birth: ' + obj.dateOfBirth + '</td>' +
                                    '</td>' + '</a></td>' + '<td>Date Of Death: ' + obj.dateOfDeath + '</td>' +
                                    '<td> <button class="goToDetails" text="details" value='+obj.requiresApprovalDeceasedListingID+'>' + '</td>' + "</tr>"); 
 
                        }
                        
                        $('button').click(function() {
				var htmlString = $( this ).eq();	
                                console.log(htmlString);
                                console.log(htmlString.context.value);
                                
                                localStorage.unpublishedID = htmlString.context.value;


                                                window.location="/CemeteryListingsWebApp/api/unpublishedListings/details";
        	});
                    },

                    error: function (jqXHR, status) {
                            // error handler
                            console.log(jqXHR);
                            alert('fail' + status.code);
                            }
            });
            
            
        </script>

</body>
</html>