<!DOCTYPE html>
<html>
    <head>
         
        <title>Start Page</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link rel="stylesheet" type="text/css" href="/CemeteryListingsWebApp/resources/css/index.css">
    </head>
    <body>
        <div class="siteWrapper"> <!-- this is the beginning of site wrapper will contain the entire pages html -->       
                <div class="siteContent">  <!-- this is the beginning of site content will contain all the content --> 
                    <h1>Jquery Test</h1>
                    <input type="button" name="post" value="post" id="me">
                </div>
            </div>
        <!-- Script begins here -->
        <script type="text/javascript" src="/CemeteryListingsWebApp/resources/js/jquery-1.11.1.min.js"></script>
        
        <script type="text/javascript">
          console.log('let me give');
          var ID = localStorage.cemeteryID;
          console.log(ID);

          $.ajax({ // ajax call to retrieve all cemeteries json objects 
                    type: "GET",
                    url: "/CemeteryListingsWebApp/api/cemetery/id/"+ID+"",
                    dataType: "json",
                    success: function (data) {
                        console.log('success');
                        console.log(data);
            
                            var obj = data;
                                console.log(obj.id);
                                console.log(obj.location.country);
                                console.log(obj.location.province_State);
                                console.log(obj.location.district_state);
                                console.log(obj.location.town);
                                console.log(obj.location.cemeteryName);
                                console.log(obj.location.locationOfCemetery);
                                console.log(obj.contactName);
                                console.log(obj.contactNumber);
// building html objects here
$(".siteContent").append("<li>" + '<a href='+'"/CemeteryListingsWebApp/api/cemetery/id/'+obj.id+'"> hello' + '</a>' + 'cemetery ID : ' + obj.id + ' Location - Country : ' + obj.location.country + ' Cemetery Name : ' + obj.location.cemeteryName + '<button class="goToDetails" text='+obj.id+' value='+obj.id+'>' +"</li>" + "<br>"); 

	    }

	});

        </script>
       
    </body>
   
    
</html>