<!DOCTYPE html>
<html>
    <head>
        <title>Cemetery Listings</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link rel="stylesheet" type="text/css" href="/CemeteryListingsWebApp/resources/css/listing-pages.css">
         <link rel="icon"  type="image/png"  href="/CemeteryListingsWebApp/resources/images/favicon.ico">
    </head>
    <body class="siteWrapper"> <!-- this is the beginning of site wrapper will contain the entire pages html -->   
            <div class="pageHeader">
        <a href="/CemeteryListingsWebApp/" class="logo"><img src="/CemeteryListingsWebApp/resources/images/logo3.jpg"></a>
                <ul class="navList"  style="width : 100%">
                    <li><a href="/CemeteryListingsWebApp/">Home</a></li>
                    <li><a href="/CemeteryListingsWebApp/api/cemetery/cemeterylistings">Cemetery Listings</a></li>
                    <li><a href="/CemeteryListingsWebApp/api/DeceasedListing/publishedlistings">Deceased Listings</a></li>
                    <li><a href="/CemeteryListingsWebApp/api/search/contactus">Contact Us</a></li>
                    <li><a href="/CemeteryListingsWebApp/api/auth/login" style="margin-left:10% !important;" class="user" id="user">Login</a></li>
                    <li><a href = "/CemeteryListingsWebApp/" class="logout" id="logout">Logout</a>
                </ul>   
<!--
                <ul class="socialListNav">
                    <li><a href="#"><img src="/CemeteryListingsWebApp/resources/images/fbbtn.png" class="simpleLogo"></a></li>
                    <li><a href="#"><img src="/CemeteryListingsWebApp/resources/images/instagrambtn.png" class="simpleLogo"></a></li>
                    <li><a href="#"><img src="/CemeteryListingsWebApp/resources/images/tweetbtn.png" class="simpleLogo"></a></li>
                </ul>   
-->
            </div>
            <div class="dummyHeader"></div>
                <div class="pageWrapper"> 
                    <div class="siteContent">  <!-- this is the beginning of site content will contain all the content --> 
                        <h1>~ Cemetery Details ~</h1>
                        
                        <!-- <input type="button" name="post" value="post" id="me"> -->
                        
                        <table class="cemeteryDetails">
                            <tr><th> &nbsp; </th><th> &nbsp; </th></tr>
                            
                        </table>
                        <h2>Listings at Cemetery</h2>
                        <table class="deceasedListings" border='1px'>
                             <tr><th>Name </th><th>Last name</th><th>Maiden name</th><th>Grave number</th><th>Date Of Birth</th><th>Date Of Death</th><th>View Details</th></tr> 
                            
                        </table>
                    </div>
                </div>
            
        <!-- Script begins here -->
        <script type="text/javascript" src="/CemeteryListingsWebApp/resources/js/jquery-1.11.1.min.js"></script>
        
        <script type="text/javascript">
          
          var login = localStorage.username;
          var ID = localStorage.cemeteryID;
          console.log(ID);
          
          if($('.user') != null){
                    if(login == ""){
                        $('.user').text("Login");
                    }else{

                        $('.user').text(login);
                    }
                }
            $('#logout').click(function(){
                localStorage.username = "";
            });

          $.ajax({ // ajax call to retrieve all cemeteries json objects 
                    type: "GET",
                    url: "/CemeteryListingsWebApp/api/cemetery/id/"+ID+"",
                    dataType: "json",
                    success: function (data) {
                        console.log('success');
                        console.log(data);
            
                            var obj = data;
                                console.log(obj.id);
                                console.log(obj.location.country);
                                console.log(obj.location.province_State);
                                console.log(obj.location.district_state);
                                console.log(obj.location.town);
                                console.log(obj.location.cemeteryName);
                                console.log(obj.location.locationOfCemetery);
                                console.log(obj.contactName);
                                console.log(obj.contactNumber);
                            // building html objects here
                            $(".cemeteryDetails").append(
                                    '<tr><td>Cemetery ID</td><td>' + obj.id + '</td>'+
                                    '<tr><td>Country - Country</td><td> ' + obj.location.country + '</td>'+
                                    '<tr><td>Province / State</td><td> ' + obj.location.province_State + '</td>'+
                                    '<tr><td>District / State</td><td> ' + obj.location.district_state + '</td>'+
                                    '<tr><td>Town</td><td> ' + obj.location.town + '</td>'+
                                    '<tr><td>Cemetery Name </td><td> ' + obj.location.cemeteryName + '</td>'+
                                    '<tr><td>Location of Cemetery</td><td> ' + obj.location.locationOfCemetery + '</td>'+
                                    '<tr><td>Contact Name</td><td> ' + obj.contactName + '</td>'+
                                    '<tr><td>Contact Number</td><td> ' + obj.contactNumber + '</td>'+
                                    '<tr><td></td><td>&nbsp;'  + "</td></tr>"); 

	    }

	});
        
        $.ajax({ // ajax call to retrieve all cemeteries json objects 
                    type: "GET",
                    url: "/CemeteryListingsWebApp/api/cemeteryPublishedListings/showList/"+ID+"",
                    //url: "/CemeteryListingsWebApp/api/cemetery/id/"+ID+"",
                    dataType: "json",
                    success: function (data) {
                        console.log('success');
                        console.log(data);
            
                        for(var x = 0; x < data.length; x++){
                            
                        var obj = data[x]; 
                           
                                console.log(obj.requiresApprovalDeceasedListingID);
                                console.log(obj.firstName);
                                console.log(obj.surname);
                                console.log(obj.maidenName);
                                console.log(obj.dateOfDeath);
                                console.log(obj.graveNumber);
                                console.log(obj.imageOfBurialSite);
                
                //h<a href='+'"/CemeteryListingsWebApp/api/cemetery/id/'+obj.publishedListingID+'"></a>
                                $(".deceasedListings").append(' <tr>'
                                    + '<td>' + obj.firstName +      '</td>'
                                    + '<td>' + obj.surname +        '</td>' 
                                    + '<td>' + obj.maidenName +     '</td>'
                                    + '<td>' + obj.graveNumber +    '</td>' 
                                    + '<td>' + obj.dateOfBirth +    '</td>'
                                    + '<td>' + obj.dateOfDeath +    '</td>' +
                                    '<td> <button class="post" text="details" value='+obj.publishedListingID+'>View Details</button>' + '</td>' + "</tr>");
                        }
                        
                        $('button').click(function() {
                             if(localStorage.username == ""){
                                window.location.href = "/CemeteryListingsWebApp/api/auth/login";
                                }else{
                                            var htmlString = $( this ).eq();	
                                    console.log(htmlString);
                                    console.log(htmlString.context.value);

                                    localStorage.publishedListingsID = htmlString.context.value;

                                    window.location="/CemeteryListingsWebApp/api/DeceasedListing/publishedListingsDetails";
                                }
                            });
                    }
                });
                
                
        
        //add another script that add the published listings to the deceasedListings table

        </script>
       
    </body>
   
    
</html>