<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/CemeteryListingsWebApp/resources/css/listing-pages.css">
    <script type="text/javascript" src="/CemeteryListingsWebApp/resources/js/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="/CemeteryListingsWebApp/resources/js/scripts/script.js"></script>
     <script type="text/javascript" src="/CemeteryListingsWebApp/resources/js/plugins/cookies-plugin/jquery.cookie.js"></script>
</head>

<body class="siteWrapper">
    <div class="pageHeader">
        <a href="#" class="logo"><img src="/CemeteryListingsWebApp/resources/images/logo3.jpg"></a>
                <ul class="navList" style="width : 100%">
                   <li><a href="/CemeteryListingsWebApp/">Home</a></li>
                    <li><a href="/CemeteryListingsWebApp/api/cemetery/cemeterylistings">Cemetery Listings</a></li>
                    <li><a href="#">Deceased Listings</a></li>
                    <li><a href="#">Contact Us</a></li>
                    <li><a href="/CemeteryListingsWebApp/api/auth/login" style="margin-left:10% !important;" class="user">Login</a></li>
                   <li><a href="/CemeteryListingsWebApp/api/auth/loggedIn">Admin</a></li>
                </ul>   
            </div>
            <div class="dummyHeader"></div>
    <div class="pageWrapper">
        <div class="siteWrapper"> <!-- this is the beginning of site wrapper will contain the entire pages html -->       
                <div class="siteContent">  <!-- this is the beginning of site content will contain all the content --> 
                    <h1>Create new Cemetery</h1>
                    <form style="width:50%; margin-left:20%;" id="data"> 
                        
                        <table width = '90%' align='center'>
                                <tr><th> </th></tr>
                                <tr><td>Cemetery Name</td><td><input type="text" name="cemeteryName" id="cemeteryName" placeholder="Cemetery Name" style="width:100%"></td> </tr>
                                <tr><td>Contact Name </td><td><input type="text" name="contactName" id="contactName" placeholder="Contact Name" style="width:100%"> </td> </tr>
                                <tr><td>Contact Number </td><td><input type="text" name="contactNumber" id="contactNumber" placeholder="Contact Number" style="width:100%"> </td></tr>
                                <tr><td>Country </td><td><input type="text" name="country" id="country" placeholder="Country" style="width:100%"> </td></tr>
                                <tr><td>District </td><td><input type="text" name="district_state" id="district_state" placeholder="District" style="width:100%"> </td></tr>
                                <tr><td>Location Of Cemetery eg 12.06.12:45.63.89 </td><td><input type="text" name="locationOfCemetery" id="locationOfCemetery" placeholder="Cemetery Location" style="width:100%"> </td></tr>
                                <tr><td>Province/State</td><td><input type="text" name="province_state" id="province_state" placeholder="Province/State" style="width:100%"></td> </tr>
                                <tr><td>Town</td><td><input type="text" name="town" id="town" placeholder="Town" style="width:100%"></td> </tr>
                        </table>
                        <input type="button" name="post" value="Create cemetery" id="createButton" style="margin-left: 20%">
                    </form>
                </div>
            </div>
    </div>
        <!-- Script begins here -->
        <script type="text/javascript" src="/CemeteryListingsWebApp/resources/js/jquery-1.11.1.min.js"></script>
        
        <script type="text/javascript">
        	console.log('one love');
        	//{"country":"America","province_State":"New Jersey","district_state":"Washington","town":"Marlboro","cemeteryName":"Palm Springs","locationOfCemetery":"12.06.12:45.63.89"},"contactName":"jack daniels","contactNumber":"0215917865"
        	$('#createButton').on('click', function() {

        	$.ajax({
                    type: "POST", 
                    url: "/CemeteryListingsWebApp/api/cemetery/create",
                    data: JSON.stringify({"location":{"country":$('#country').val(),"province_State":$('#province_state').val(),"district_state":$('#district_state').val(),"town":$('#town').val(),"cemeteryName":$('#cemeteryName').val(),"locationOfCemetery":$('#locationOfCemetery').val()},"contactName":$('#contactName').val(),"contactNumber":$('#contactNumber').val()}),
                    dataType: "JSON",
                    contentType: "application/json",
                    success: function (status, jqXHR) {

                        //window.location.href = "/CemeteryListingsWebApp/api/cemetery/cemeterylistings";
                    },

                    error: function (jqXHR, status) {
                       //window.location.href = "/CemeteryListingsWebApp/api/cemetery/cemeterylistings";
                    }
                 });

			});

        </script>
       
    </body>
   
    
</html>