<!DOCTYPE html>
<html>
    <head>
         
        <title>Start Page</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link rel="stylesheet" type="text/css" href="/CemeteryListingsWebApp/resources/css/index.css">
    </head>
    <body>
        <div class="siteWrapper"> <!-- this is the beginning of site wrapper will contain the entire pages html -->       
                <div class="siteContent">  <!-- this is the beginning of site content will contain all the content --> 
                    <h1>Jquery Test</h1>
                    <form style="width:20%; margin-left:10%;" id="data"> 
                            <fieldset style="border:0">
	                    <input type="text" name="cemeteryName" id="cemeteryName" placeholder="Cemetery Name" style="width:100%">
                            </fieldset>
                            <fieldset style="border:0">
	                    <input type="text" name="contactName" id="contactName" placeholder="Contact Name" style="width:100%">
                            </fieldset>
                            <fieldset style="border:0">
	                    <input type="text" name="contactNumber" id="contactNumber" placeholder="Contact Number" style="width:100%">
                            </fieldset>
                            <fieldset style="border:0">
	                    <input type="text" name="country" id="country" placeholder="Country" style="width:100%">
                            </fieldset>
                            <fieldset style="border:0">
	                    <input type="text" name="district_state" id="district_state" placeholder="District" style="width:100%">
                            </fieldset>
                            <fieldset style="border:0">
                            <input type="text" name="locationOfCemetery" id="locationOfCemetery" placeholder="Locatio Of Cemetery eg 12.06.12:45.63.89" style="width:100%">
                            </fieldset>
                            <fieldset style="border:0">
                            <input type="text" name="province_state" id="province_state" placeholder="Province/State" style="width:100%">
                            </fieldset>
                            <fieldset style="border:0">
                            <input type="text" name="town" id="town" placeholder="Town" style="width:100%">
                            </fieldset>
                            <input type="button" name="post" value="create cemetery" id="createButton" style="margin-left: 35%">
	                </form>
                </div>
            </div>
        <!-- Script begins here -->
        <script type="text/javascript" src="/CemeteryListingsWebApp/resources/js/jquery-1.11.1.min.js"></script>
        
        <script type="text/javascript">
        	console.log('one love');
        	//{"country":"America","province_State":"New Jersey","district_state":"Washington","town":"Marlboro","cemeteryName":"Palm Springs","locationOfCemetery":"12.06.12:45.63.89"},"contactName":"jack daniels","contactNumber":"0215917865"
        	$('#createButton').on('click', function() {

        	$.ajax({
                    type: "POST", 
                    url: "/CemeteryListingsWebApp/api/cemetery/create",
                    data: JSON.stringify({"location":{"country":$('#country').val(),"province_State":$('#province_state').val(),"district_state":$('#district_state').val(),"town":$('#town').val(),"cemeteryName":$('#cemeteryName').val(),"locationOfCemetery":$('#locationOfCemetery').val()},"contactName":$('#contactName').val(),"contactNumber":$('#contactNumber').val()}),
                    dataType: "JSON",
                    contentType: "application/json",
                    success: function (status, jqXHR) {

                        window.location.href = "/CemeteryListingsWebApp/api/cemetery/cemeterylistings";
                    },

                    error: function (jqXHR, status) {
                       window.location.href = "/CemeteryListingsWebApp/api/cemetery/cemeterylistings";
                    }
                 });

			});

        </script>
       
    </body>
   
    
</html>