<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<div class="pageHeader">
        <a href="#" class="logo"><img src="resources/images/logo2.jpg"></a>
                <ul class="navList" style="width : 100%">
                    <li><a href="/CemeteryListingsWebApp/">Home</a></li>
                    <li><a href="/CemeteryListingsWebApp/api/cemetery/cemeterylistings">Cemetery Listings</a></li>
                    <li><a href="#">Deceased Listings</a></li>
                    <li><a href="#">Contact Us</a></li>
                    <li><a href="/CemeteryListingsWebApp/api/auth/login" style="margin-left:10% !important;" class="user">Login</a></li>
                </ul>   
        <!--
                <ul class="socialListNav">
                    <li><a href="#"><img src="resources/images/fbbtn.png" class="simpleLogo"></a></li>
                    <li><a href="#"><img src="resources/images/instagrambtn.png" class="simpleLogo"></a></li>
                    <li><a href="#"><img src="resources/images/tweetbtn.png" class="simpleLogo"></a></li>
                </ul>   -->

               
</div>