<!DOCTYPE html>
<html>
  <head>
      <title>Cemetery Listings</title>
    <link rel="stylesheet" type="text/css" href="/CemeteryListingsWebApp/resources/css/listing-pages.css">
    <link rel="stylesheet" type="text/css" href="/CemeteryListingsWebApp/resources/css/login.css">
    <script type="text/javascript" src="/CemeteryListingsWebApp/resources/js/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="/CemeteryListingsWebApp/resources/js/scripts/script.js"></script>
    <script type="text/javascript" src="/CemeteryListingsWebApp/resources/js/plugins/cookies-plugin/jquery.cookie.js"></script>
     <link rel="icon"  type="image/png"  href="/CemeteryListingsWebApp/resources/images/favicon.ico">
</head>

<body class="siteWrapper">
    <div class="pageHeader">
        <a href="/CemeteryListingsWebApp/" class="logo"><img src="/CemeteryListingsWebApp/resources/images/logo3.jpg"></a>
                <ul class="navList" style="width : 100%">
                    <li><a href="/CemeteryListingsWebApp/">Home</a></li>
                    <li><a href="/CemeteryListingsWebApp/api/cemetery/cemeterylistings">Cemetery Listings</a></li>
                    <li><a href="/CemeteryListingsWebApp/api/DeceasedListing/publishedlistings">Deceased Listings</a></li>
                    <li><a href="/CemeteryListingsWebApp/api/search/contactus">Contact Us</a></li>
                    <li><a href="/CemeteryListingsWebApp/api/auth/login" style="margin-left:10% !important;" class="user" id="user">Login</a></li>
                    <li><a href = "/CemeteryListingsWebApp/" class="logout" id="logout">Logout</a>
                </ul>   
            </div>
            <div class="dummyHeader"></div>
    <div class="pageWrapper">
        
        <div class="contentWrapper">
               <div class="loginForm" style="margin-top: 10%">
               		<form id="loginForm">
                            <input class="loginInput" style="visibility: hidden">
                            <label class="loginLabel" id="userLabel">Username (required)</label>
                            <input type="text" id="username" class="loginInput" name="cusername">
                            <label class="loginLabel" id="pwordLabel">Password (required)</label>
                            <input type="password" id="password" class="loginInput" name="cpassword">
                            <input type="button" id="sign-in" class="loginButton" value="Login">
                            <input type="button" id="register" class="loginButton" value="Register">
               		</form>
                   
               </div>
        </div>
    </div>
    <div class="siteFooter"> 
    </div>

     <!--<script type="text/javascript" src="/CemeteryListingsWebApp/resources/js/jquery-1.11.1.min.js"></script> -->
        
        <script type="text/javascript">
        	//console.log('hi');
                $('#logout').click(function(){
                localStorage.username = "";
                });
                 var login = localStorage.username;

                if($('.user') != null){
                    if(login == ""){
                        $('.user').text("Login");
                    }else{

                        $('.user').text(login);
                    }
                }
                $('#register').click(function() {
                    
                    window.location.href = "/CemeteryListingsWebApp/api/auth/register";
                });

        	$('.loginButton').click(function() {
        		//console.log('i have been clicked');

        	var username = $('#username').val();
        	var password = $('#password').val();
                        
                if(username == ""){
                     $('#userLabel').text("Please enter a username");
                } 
                if(password == ""){
                    $('#pwordLabel').text("Please enter a password");
                }else{

                        console.log(username);
                        console.log(password);

                                    $.ajax({
                                type: "POST", 
                                url: "/CemeteryListingsWebApp/api/Subscriber/logon",
                                data: {"user": username ,"pword": password},
                                success: function (data, status, jqXHR) {
                                    //alert("success");// write success in " "
                                    console.log(data);
                                    console.log(jqXHR);

                                    if(data == "true"){
                                            localStorage.username = username;
                                            $.cookie('login', username , {path: '/'});
                                        }
                                    window.location.href = "/CemeteryListingsWebApp/";
                                },

                                error: function (data,jqXHR, status) {
                                    // error handler
                                    console.log('fail');
                                    console.log(jqXHR);
                                    console.log('fail ' + status.code);
                                }
                             });

                                    $('#username').val("");
                                    $('#password').val("");

                    }
                });

        </script>

</body>
</html>