<!DOCTYPE html>
<html>
    <head>
         
        <title>Start Page</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link rel="stylesheet" type="text/css" href="WEB-INF/css/index.css">
    </head>
    <body>
        <div class="siteWrapper"> <!-- this is the beginning of site wrapper will contain the entire pages html -->       
                <div class="siteContent">  <!-- this is the beginning of site content will contain all the content --> 
                    <h1>Jquery Test</h1>
                    <input type="button" name="post" value="post" id="me">
                </div>
            </div>
        <!-- Script begins here -->
        <script type="text/javascript" src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
        
        <script type="text/javascript">
           console.log('hi');
                    
               //var data = [{}];     
                  /*var beer;
                    $.getJSON('/CemeteryListingsWebApp/api/cemetery/show',function(json){
                        beer = json;   
                        checkDrink();                
                    });         

                    function checkDrink() {
                        console.log(beer);
                    }   */
    
               $.ajax({ // ajax call to retrieve all cemeteries json objects 
                    type: "GET",
                    url: "/CemeteryListingsWebApp/api/publishedListings/show",
                    dataType: "json",
                    success: function (data) {
                        console.log('success');
                        console.log(data);
                        //console.log(data[0]['contactName']);
                        
                        /*for(var i = 0; i < data.length; i++) {
                            var obj = data[i];
                                console.log(obj.id);
                                console.log(obj.location.country);
                                console.log(obj.location.province_State);
                                console.log(obj.location.district_state);
                                console.log(obj.location.town);
                                console.log(obj.location.cemeteryName);
                                console.log(obj.location.locationOfCemetery);
                                console.log(obj.contactName);
                                console.log(obj.contactNumber);
// building html objects here
$(".siteContent").append("<div>" + 'cemetery ID : ' + obj.id + ' Location - Country : ' + obj.location.country + ' Cemetery Name : ' + obj.location.cemeteryName +"</div>" + "<br>"); 
                            
        }*/
                        
                        //$(".data").append(data[0]['contactName']) + "hello";// write success in " "
                    },

                    error: function (jqXHR, status) {
                        // error handler
                        console.log(jqXHR);
                        alert('fail' + status.code);
                    }
                 });
                 
        $("#me").on("click", function(){
            alert('i have been clicked');
           
        //var data = [{"id":17,"location":{"country":"America","province_State":"New Jersey","district_state":"Washington","town":"Marlboro","cemeteryName":"Palm Springs","locationOfCemetery":"12.06.12:45.63.89"},"contactName":"Palm Springs","contactNumber":"0215698412"}];
        var data = 0;
        $.ajax({
                    type: "POST", 
                    url: "/CemeteryListingsWebApp/api/cemetery/create",
                    data: JSON.stringify({ "contactName": 'mattcat', "contactNumber" : 123456789 }),// now data come in this function stringyfy is needed in order to turn string into json
                    dataType: "JSON",
                    contentType: "application/json",
                    success: function (status, jqXHR) {

                        alert("success");// write success in " "
                    },

                    error: function (jqXHR, status) {
                        // error handler
                        console.log(jqXHR);
                        //alert('fail ' + status.code);
                    }
                 });
               });
                 
        </script>
       
    </body>
   
    
</html>
