<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/CemeteryListingsWebApp/resources/css/listing-pages.css">
    <script type="text/javascript" src="/CemeteryListingsWebApp/resources/js/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="/CemeteryListingsWebApp/resources/js/scripts/script.js"></script>
     <script type="text/javascript" src="/CemeteryListingsWebApp/resources/js/plugins/cookies-plugin/jquery.cookie.js"></script>
</head>

<body class="siteWrapper">
    <div class="pageHeader">
        <a href="#" class="logo"><img src="/CemeteryListingsWebApp/resources/images/logo2.jpg"></a>
                <ul class="navList"  style="width : 100%">
                    <li><a href="/CemeteryListingsWebApp/">Home</a></li>
                    <li><a href="/CemeteryListingsWebApp/api/cemetery/cemeterylistings">Cemetery Listings</a></li>
                    <li><a href="#">Deceased Listings</a></li>
                    <li><a href="#">Contact Us</a></li>
                    <li><a href="/CemeteryListingsWebApp/api/auth/login" style="margin-left:10% !important;" class="user">Login</a></li>
                   <li><a href="/CemeteryListingsWebApp/api/auth/loggedIn">Admin</a></li>
                </ul>     
            </div>
            <div class="dummyHeader"></div>
    <div class="pageWrapper">
       
        <div class="siteContent">
             <h1> Unpublished Listings Details </h1>
             <div class="details" style = "width : 100%; margin-left : 20%">
                 <form style="width:50%;" id="data">
                        <fieldset style="border:0">
	                    <input disabled type="text" placeholder="First Name" name="firstName" id="firstName" style="width:50%">
                        </fieldset>
                        <fieldset style="border:0">
	                    <input disabled type="text" name="lastName" id="lastName" placeholder="Last Name" style="width:50%">
                        </fieldset>
                        <fieldset style="border:0">
	                    <input disabled type="text" name="maidenName" id="maidenName" placeholder="Maiden Name" style="width:50%">
	                    </fieldset>
                        <fieldset style="border:0">
                        <input disabled type="text" name="gender" id="gender" placeholder="Gender" style="width:50%">
	                    </fieldset>
                        <fieldset style="border:0">
                        <input disabled type="text" name="dateOfBirth" id="dateOfBirth" placeholder="Date Of Birth" style="width:50%">
	                    </fieldset>
                        <fieldset disabled style="border:0">
                        <input type="text" name="dateOfDeath" id="dateOfDeath" placeholder="Date Of Death" style="width:50%">
                        </fieldset>
                        <fieldset style="border:0">
                        <input disabled type="text" name="graveNumber" id="graveNumber" placeholder="Grave Number" style="width:50%">
	                </fieldset>
                        <fieldset disabled style="border:0">
                        <textarea disabled name="graveInscription" id="graveInscription" placeholder="Grave Inscription" style="width:50%; height : auto">
                        </textarea>
                        </fieldset>
                        <fieldset style="border:0">
                        <input disabled type="text" name="lastKnownContactName" id="lastKnownContactName" placeholder="Last Known Contact Name" style="width:50%">
                        </fieldset>
                        <fieldset style="border:0">
                        <input disabled type="text" name="lastKnownContactNumber" id="lastKnownContactNumber" placeholder="Last Known Contact Number" style="width:50%">
                        </fieldset>
                        <fieldset style="border:0">
                        <input disabled type="text" name="cemeteryID" id="cemeteryID" placeholder="Cemtery ID" style="width:50%">
                        </fieldset>
                        <fieldset style="border:0">
                        <textarea disabled name="otherNames" id="otherNames" placeholder="Other Names, seperated by a comma, end with a full stop" style="width:50%; height : auto">
                        </textarea>
                        </fieldset>
                        <fieldset style="border:0">
                        <input disabled type="text" name="imageOfBurialSite" id="imageOfBurialSite" placeholder="Image Of Burial Site" style="width:50%">
                        </fieldset>
                        <fieldset style="border:0">
                        <input disabled type="text" name="subscriberSubmitID" id="subscriberSubmitID" placeholder="Subscriber ID" style="width:50%">
                        </fieldset>
	                </form>
             </div>
             <table class="listings"></table>
        </div>
    </div>
    <div class="siteFooter"> 
    </div>
        <!-- Script begins here -->
        <script type="text/javascript" src="/CemeteryListingsWebApp/resources/js/jquery-1.11.1.min.js"></script>
            
        <script type="text/javascript">
            
            var ID = localStorage.publishedListingsID;
            
         $.ajax({ // ajax call to retrieve all cemeteries json objects 
                    type: "GET",
                    url: "/CemeteryListingsWebApp/api/DeceasedListing/id/"+ID+"",
                    dataType: "json",
                    success: function (data) {
                        console.log('success');
                        console.log(data);
            
                           obj  = data;
                                                console.log(obj.publishedListingID);
                                                console.log(obj.firstName);
                                                console.log(obj.surname);
                                                console.log(obj.maidenName);
                                                console.log(obj.dateOfDeath);
                                                console.log(obj.graveNumber);
                                                console.log(obj.imageOfBurialSite);
                                                
                                                localStorage.otherNames = JSON.stringify(obj.names);
                                                
                // building html objects here
                $('#firstName').val(obj.firstName);
                $('#lastName').val(obj.surname);
                $('#maidenName').val(obj.maidenName);
                $('#gender').val(obj.gender);
                $('#dateOfBirth').val(obj.dateOfBirth);
                $('#dateOfDeath').val(obj.dateOfDeath);
                $('#graveNumber').val(obj.graveNumber);
                $('#graveInscription').val(obj.graveInscription);
                $('#lastKnownContactName').val(obj.lastKnownContactName);
                $('#lastKnownContactNumber').val(obj.lastKnownContactNumber);
                $('#cemeteryID').val(obj.cemeteryID);
                $('#otherNames').val(obj.names);
                $('#imageOfBurialSite').val(obj.imageOfBurialSite);
                $('#subscriberSubmitID').val(obj.subscriberSubmitID);
                
                
                                /*$(".listings").append(' <tr>'+' <td><a href='+'"/CemeteryListingsWebApp/api/cemetery/id/'+obj.requiresApprovalDeceasedListingID+'">' + '</a></td>' + '<td> Name : ' + obj.firstName + '</td>' + ' <td> Last Name : ' + obj.surname + 
                                    '</td>' + '</a></td>' + '<td>Mainden Name : ' + obj.maidenName + '</td>' +
                                    '</td>' + '</a></td>' + '<td>Grave Number: ' + obj.graveNumber + '</td>' +
                                    '</td>' + '</a></td>' + '<td>Date Of Birth: ' + obj.dateOfBirth + '</td>' +
                                    '</td>' + '</a></td>' + '<td>Date Of Death: ' + obj.dateOfDeath + '</td>' +
                                    '<td> <button class="post" text="details" value='+obj.requiresApprovalDeceasedListingID+'>' + '</td>' + "</tr>"); */
                            
                },
            error: function (jqXHR, status) {
                       //window.location.href = "/CemeteryListingsWebApp/api/cemetery/cemeterylistings";
                    }
                 });
</script>      
</body>
</html>