<!DOCTYPE html>
<html>
    <head>
         
        <title>Start Page</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link rel="stylesheet" type="text/css" href="/CemeteryListingsWebApp/resources/css/index.css">
    </head>
    <body>
        <div class="siteWrapper"> <!-- this is the beginning of site wrapper will contain the entire pages html -->       
                <div class="siteContent">  <!-- this is the beginning of site content will contain all the content --> 
                    <h1>Jquery Test</h1>
                    <input type="button" name="post" value="post" id="me">
                </div>
            </div>
        <!-- Script begins here -->
        <script type="text/javascript" src="/CemeteryListingsWebApp/resources/js/jquery-1.11.1.min.js"></script>
        
        <script type="text/javascript">
          

        </script>
       
    </body>
   
    
</html>